//====================================================================================================
.footer {
background-color: $footerbg;
  &__container {
  }

  &__body {
    display: flex;
    color: $textgray;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
  }

  &__social {
  }
}
.container {
}
.social {

  &__list {
    display: flex;
  }

  &__item {
    margin-right: rem(15);
  }
}


//====================================================================================================
