.page {


	&__header {
		padding: 25px 0px 25px 0px;
	}
}
.header {

	&__container {
	}

	&__wrap {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__logo {
		margin: 0px 37px 0px 0px;
		display: flex;
		align-items: center;
		justify-content: center;
		
	
	}
	

	&__menu {
		display: flex;
		align-items: center;
	}
}

.logo {
	display: flex;
	align-items: center;


	&__text {
		padding: 0px 0px 0px 10px;
	}
}
.menu {

	display: flex;

	&__nav {
	}

	&__list {
		display: flex;
	}


	&__item {
		margin: 0px 30px 0px 0px;
	}
	&__item:last-child {
		margin: 0px 177px 0px 0px;
	}

	&__link {
	}

	&__button {
		display: flex;
	}
}
.btn-googleplay {
}
.btn-apstore {
}
