

//====================================================================================================
@media (max-width:1110px) {
  .menu__item:not(:last-child){
    @include adaptiveValue(margin-right, 30,5);
  }
  .menu__link{
    @include adaptiveValue(font-size,14 ,24);
    
  }

  .logo__text{
    @include adaptiveValue(font-size,14 ,24);
    
  }
  
}
@media (min-width:1440px) {
  .menu__link,
  .logo__text{
    font-size: calc(8px + 6 * ((100vw - 320px)/(1440 - 320)));
    padding-left: 3px;
  }
  .menu__item:not(:last-child){
    margin-right: calc(5px + 7 * ((100vw - 320px)/(1440 - 320)));
  }

  .header__logo{
    margin-right: calc(35px + (40 - 35) * ((100vw - 320px)/(1440 - 320)));;
  }

  .about{
    margin-bottom: 200px;
  }
  
}

@media (max-width:$tablet) {
  .header{
    margin-bottom: rem(80);
  }
  .page__about{
    margin-bottom: rem(80);
  }
  
}
@media (max-width:$mobile){
  .page__header{
    margin-bottom: rem(100);
   
  }
  .about__body{
    flex-direction: column;
    display: flex;
 
  }

  .about__text{
    text-align: center;

  }
  .about__title{
    font-size: 50px;
   
  }
 .about__column{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }
 
  .about__column.--photo{
    min-height: 400px;
    
  }
  .about__image img{
    width: 100vw;
  }
  .about__image{
    
  }

  
}
@media (max-width:$mobileSmall){
  .about__body{
    gap: rem(50);
  }
}
@media (max-width:320px){
  .about__column.--photo{
    
    min-height: 350px;
  }
  
  .header{
    margin-bottom: rem(60);
  }
  .page__about{
    margin-bottom: rem(60);
  }
  
}

@media (max-width:$mobilelittleSmall) {
  .about__image img{
    left: -3%;
  }
  
  
}
@media (max-width:$tablet) {
  .about__text{
    max-width: 400px;
    .about__title{
      font-size: 48px;
    }
    .about__subtitle{
      font-size: 16px;
    }
  }
  
}
//====================================================================================================

