.popup {

  &__form {
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
  }
}
.form {
  

  &__body {
  }

  &__title {
    font-size: rem(24);
    font-weight: 700;
    margin: 0px 0px 20px 0px;
  }

  &__item {
    margin-bottom: rem(20);
  }

  &__label {
    display: block;
    font-size: 17px;
    margin: 0px 0px 8px 0px;

  }

  &__input {
    width: 100%;
    height: 30px;
    border-radius: 8px;
    font-size: 18px;
    transition: all 0.5s ease 0s;
  
  }
  &__input:focus{
    box-shadow: 0 0 15px #ae6ef3;;
  }
  &__input{
    &__error{
      box-shadow: 0 0 15px #ff0000;
    }
  }

  textarea.form__input  {
    min-height: 150px;
    resize: vertical;
    padding:15px ;
    
  
  }

  &__button {
    display: flex;
    padding: 20px;
    background-color: #ae6ef3;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }
}
.options {
  padding: 10px 0px 0px 0px;

  &__item {
    margin: 0px 0px 8px 0px;
  }

  &__input {
    display: none;
  }
  &__input:checked + .options__label::after{
transform: scale(1);
  }

  &__label {
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    line-height: 150%;
    position: relative;

  }
  &__label::before {
    content: "";
    align-self: flex-start;
    flex: 0 0 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0px 10px 0px 0px;

    
  }
  &__label::after{
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
    background-color: #ae6ef3;
    border-radius: 50%;
    transform: scale(0);
    transition: all 0.3s ease 0s;

    
  }
}

.file {

  &__item {
    position: relative;
  }

  &__input {
    position: absolute;
    width: 20%;
    height: 100%;
    left: 0;
    top: 0;
    font-size: 0;
    opacity: 0;
    cursor: pointer;
    
  }

  &__button {
    display: inline-flex;
    font-size: 16px;
    background-color: #ae6ef3;
    border-radius: 8px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;

  }

  &__preview {
    display: inline-block;
    max-width: 100px;
    img{
      max-width: 100%;
    }
  }
}
.checkbox {

  &__input {
    display: none;
  }

  &__input:checked + .checkbox__label::after {
    transform: scale(1);
  }
  &__label{
    font-size: 16px;
    font-weight: 900;
    line-height: 150%;
    display: inline-flex;
    align-items: center;
    position: relative;
a{
  color: green;
}

  }
  &__label::before{
    content: "";
    align-self: flex-start;
    flex:  0 0 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 6px;
    margin: 0px 10px 0px 0px;
    

  }
  &__label::after{
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 4px;
  top: 4px;
  background-color: #ae6ef3;
  border-radius: 4px;
  transform: scale(0);
  transition: all 0.3s ease 0s;

  
  }
}


